@import "tailwindcss";

@theme {
  --color-neon-blue: #00F0FF;
  --color-neon-purple: #BD00FF;
  --color-charcoal: #121212;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #121212;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
